.primaryCta {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}

.primaryCtaWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 54px 35.2px 53px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
}
.defaultState {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 120px;
}
.buttonParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.meetYourCandidates {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.frameIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameWrapper {
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
}
.button,
.buttonParentParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-81xl);
  background: linear-gradient(#1c1c1c, #1c1c1c),
    linear-gradient(97.55deg, #1c1c1c, #454444);
  flex-direction: row;
  padding: var(--padding-11xl-5) var(--padding-21xl);
  gap: var(--gap-base);
  text-align: center;
  color: var(--color-white);
}
.buttonParentParent {
  width: 330px;
  flex-direction: column;
  padding: 0 0 16.2px;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.hoverState {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 107px;
}
.hoverStateWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
}
.meetYourCandidates1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.frameIcon1 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameContainer {
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
}
.button1,
.carouselParent,
.frameContainer,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  border-radius: var(--br-81xl);
  background: linear-gradient(#4e4e4e, #4e4e4e),
    linear-gradient(97.55deg, #1c1c1c, #454444);
  flex-direction: row;
  padding: var(--padding-11xl-5) var(--padding-21xl);
  gap: var(--gap-base);
  text-align: center;
  color: var(--color-white);
}
.carouselParent,
.frameParent {
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.carouselParent {
  width: 332px;
  flex-direction: row;
  padding: 0 1px 54.2px;
  box-sizing: border-box;
}
.defaultState1,
.secondaryCta {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.secondaryCta {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.defaultState1 {
  font-weight: 500;
  display: inline-block;
  min-width: 120px;
  white-space: nowrap;
}
.defaultStateWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 0 var(--padding-14xl);
}
.getProjects {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-gray-300);
  text-align: center;
  display: inline-block;
  min-width: 106px;
}
.button2,
.carouselDot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 1.3px solid var(--color-whitesmoke-200);
  padding: var(--padding-5xl) var(--padding-21xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: 107.06px;
  flex-direction: row;
}
.button2:hover,
.button3:hover {
  border: 1.3px solid var(--color-lightgray-200);
  box-sizing: border-box;
}
.button2:hover {
  background-color: var(--color-lightgray-300);
}
.carouselDot {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.carouselDotWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 46px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.carouselDotWrapper,
.documentationInner,
.secondaryCtaParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secondaryCtaParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.documentationInner {
  width: 332px;
  flex-direction: row;
  padding: 0 25px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
}
.hoverState1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 107px;
}
.hoverStateBackground {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl);
}
.getProjects1 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-gray-300);
  text-align: center;
  display: inline-block;
  min-width: 106px;
}
.button3 {
  cursor: pointer;
  border: 1.3px solid var(--color-whitesmoke-200);
  padding: var(--padding-5xl) var(--padding-21xl);
  background-color: #f1f1f1;
  border-radius: 107.06px;
  flex-direction: row;
  white-space: nowrap;
}
.button3:hover {
  background-color: #d6d6d6;
}
.button3,
.hoverStateBackgroundParent,
.secondaryCTABackground {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hoverStateBackgroundParent {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.secondaryCTABackground {
  flex-direction: row;
  padding: 0 71px var(--padding-18xl);
  box-sizing: border-box;
  max-width: 100%;
}
.carousel,
.normalState {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
}
.carousel {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.normalState {
  font-weight: 500;
  display: inline-block;
  min-width: 119px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frameChild,
.frameInner,
.frameItem {
  height: 10.8px;
  width: 10.8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen);
}
.frameInner,
.frameItem {
  background-color: var(--color-gainsboro);
}
.ellipseParent,
.singleCarouselInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseParent {
  flex: 1;
  gap: var(--gap-xs);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.singleCarouselInner {
  align-self: stretch;
  padding: 0 var(--padding-11xl) 0 var(--padding-14xl);
}
.singleCarousel {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.horizontalCarousel,
.singleCarousel,
.verticalCarousel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.horizontalCarousel {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xl) 0 19px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.verticalCarousel {
  width: 167px;
  flex-direction: column;
  gap: 29px;
}
.verticalCarouselWrapper {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 16.4px 7px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
}
.hoverState2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 107px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ellipseDiv {
  background-color: var(--color-mediumseagreen);
}
.ellipseDiv,
.frameChild1,
.frameChild2 {
  height: 10.8px;
  width: 10.8px;
  position: relative;
  border-radius: 50%;
}
.frameChild1 {
  background-color: #cad0cb;
}
.frameChild2 {
  background-color: var(--color-gainsboro);
}
.ellipseGroup {
  flex-direction: row;
  gap: var(--gap-xs);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.ellipseGroup,
.frameDiv,
.hoverStateParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 27px;
}
.hoverStateParent {
  flex-direction: column;
  gap: 7px;
}
.documentation,
.documentationChild {
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
}
.documentationChild {
  width: 332px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3px 0 0;
}
.documentation {
  margin-left: auto;
  margin-right: auto;
  width: 568px;
  height: 1352px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 134px var(--padding-xl) 134.2px;
  gap: 31.8px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 450px) {
  .primaryCtaWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .defaultState {
    line-height: 19px;
  }
  .defaultState,
  .meetYourCandidates {
    font-size: var(--font-size-base);
  }
  .hoverState {
    line-height: 19px;
  }
  .defaultState1,
  .hoverState,
  .meetYourCandidates1 {
    font-size: var(--font-size-base);
  }
  .defaultState1 {
    line-height: 19px;
  }
  .carouselDotWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .secondaryCtaParent {
    gap: var(--gap-mini);
  }
  .hoverState1 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .secondaryCTABackground {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hoverState2,
  .normalState {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .documentation {
    gap: var(--gap-base);
  }
}
