.path70Icon {
  width: 115.6px;
  height: 21.5px;
  position: absolute;
  margin: 0 !important;
  right: 145.4px;
  bottom: -4053.5px;
  object-fit: contain;
}
.image4Icon {
  width: 1218px;
  height: 800px;
  z-index: 1;
}
.image32315Icon,
.image32510Icon,
.image4Icon {
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.image32315Icon {
  width: 628px;
  height: 678px;
  z-index: 2;
}
.image32510Icon {
  width: 1440px;
  max-height: 100%;
  z-index: 3;
}
.frameChild {
  height: 47.4px;
  width: 127.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.closeIcon,
.closeIcon1 {
  height: 50%;
  width: 50%;
  position: absolute;
  margin: 0 !important;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.closeIcon1 {
  z-index: 2;
}
.close {
  overflow: hidden;
  justify-content: flex-start;
  position: relative;
  gap: 13.3px;
}
.close,
.formContainer,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.formContainer {
  height: 64px;
  width: 64px;
  border-radius: var(--br-21xl);
  border: 1px solid #cacaca;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
}
.frameParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.registrationForm,
.startYourSuccess {
  margin: 0;
  position: relative;
  letter-spacing: -0.02em;
}
.registrationForm {
  font-size: inherit;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
}
.startYourSuccess {
  align-self: stretch;
  font-size: var(--font-size-37xl);
  line-height: 120%;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--color-gray-300);
  text-align: center;
}
.formPanel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.enterYourName {
 
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-manrope);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 27px;
  position: relative;
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
  padding: 0;
}
.inputLabels {
  align-self: stretch;
  border-radius: var(--br-45xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-17xl);
}
.enterYourEmail {

  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-manrope);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 27px;
  position: relative;
  color: var(--color-gray-200);
  text-align: center;
  display: inline-block;
  padding: 0;
}
.inputFieldLabels,
.inputLabels1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputLabels1 {
  border-radius: var(--br-45xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gray-500);
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-17xl);
}
.inputFieldLabels {
  gap: var(--gap-5xl);
}
.submit {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 62px;
}
.submitButtonArea {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl-1) 28px var(--padding-7xl-1) var(--padding-xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: 107.06px;
  background: linear-gradient(#c9c9c9, #c9c9c9),
    linear-gradient(97.55deg, #1c1c1c, #454444);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submitButtonArea:hover {
  background-color: #969696;
}
.formPanelParent,
.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.inputArea {
  margin: 0;
  width: 417px;
  align-items: flex-start;
  gap: 47px;
}
.formPanelParent {
  width: 588px;
  align-items: center;
  gap: var(--gap-43xl);
}
.combiner,
.sidePanel {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sidePanel {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.combiner {
  flex-direction: column;
  justify-content: flex-start;
  gap: 45px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-mediumseagreen);
  font-family: var(--font-covered-by-your-grace);
}
.formFieldEmptyChild {
  width: 84.2px;
  height: 84.2px;
  position: relative;
  object-fit: contain;
  display: none;
  z-index: 5;
}
.maskGroupIcon {
  height: 624px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.background,
.formFieldEmpty {
  width: 603.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 0 var(--padding-17xl-8);
  box-sizing: border-box;
  max-width: 100%;
}
.formFieldEmpty {
  width: 1440px;
  height: 800px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-12xl-9) var(--padding-33xl) 120.8px
    var(--padding-33xl-2);
  position: relative;
  gap: 1516.8px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .registrationForm {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .startYourSuccess {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
  .formFieldEmpty {
    gap: 758px;
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .formPanelParent {
    gap: var(--gap-12xl);
  }
  .combiner {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .registrationForm {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .startYourSuccess {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .enterYourEmail,
  .enterYourName {
    font-size: var(--font-size-base);
  }
  .inputArea {
    gap: 23px;
  }
  .formPanelParent {
    gap: var(--gap-mini);
  }
  .formFieldEmpty {
    height: auto;
    gap: 379px;
  }
}
.errorIcon{
  width: 25px;
  height: 25px;
}
.error{
  font-size: 20px;
  color: red;
  font-family: var(--font-manrope);
  margin-left: 30px;
}
